body {
    display: block;
    margin: 0px;
}
.imgContainer {
    position: relative;
    background-position: center;
    width: 100%;
    /* margin-left: -345px; */
    padding: 0px;
    background-repeat: no-repeat;
}
.imgContainers {
    position: relative;
    background-position: center;
    width: 100%;
    /* margin-left: -345px; */
    padding: 0px;
    background-repeat: no-repeat;
}
.myMusicList{
	position: absolute;
	left: 16px;
}
.imgFormyMusicLists{
	width: 50px;
}
.temporaryList{
	position: absolute;
	top: 50%;
	left: 50%;
	tranform: translate(-50%, -50%);
}
.musicMake{
	position: absolute;
	right: 16px;
}