.container{
	position: relative;
	text-align: center;
	color: white;
}
.imgContainer{
    background-position: center;
    width: 100%;
    /* margin-left: -345px; */
    padding: 0px;
    background-repeat: no-repeat;
}
.myMusicList{
	position: absolute;
	top: 20%;
	left: 25%;
	tranform: translate(-20%, -25%);
}
.myMusicList img{
	width: 100px;
}
.temporaryList{
	position: absolute;
	top: 20%;
	left: 50%;
	tranform: translate(-20%, -50%);
}
.musicMake{
	position: absolute;
	top: 20%;
	right: 25%;
	tranform: translate(-20%, -25%);
}