.imgContainer{
	position: relatvie;
	text-align: center;
	color: white;
}
.myMusicList{
	position: absolute;
	left: 16px;
}
.imgFormyMusicList{
	width: 50px;
}
.temporaryList{
	position: absolute;
	top: 50%;
	left: 50%;
	tranform: translate(-50%, -50%);
}
.musicMake{
	position: absolute;
	right: 16px;
}