<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.teamBOB4.dao.MusicMapper">

<select id="getSoundlib" parameterType="int" resultType="Sound">
select distinct sou_type
from sound_library
where cust_number = #{cust_number}
</select>

<select id="getSounds" parameterType="Sound" resultType="Sound">
select *
from sound_library
where cust_number = #{cust_number}
and sou_type = #{sou_type}
<if test="sou_number!=0">
and sou_number = #{sou_number}
</if>
</select>

<insert id="insertSound" parameterType="Sound">
insert into sound_library(
sou_number
,cust_number
,sou_type
<if test="sou_name!=null">
,sou_name
,sou_saved
</if>
)
values(
SEQ_SOUND_LIBRARY_SOU_NUMBER.nextval
,#{cust_number}
,#{sou_type}
<if test="sou_name!=null">
,#{sou_name}
,#{sou_saved}
</if>
)
</insert>

<update id="editlib" parameterType="map">
update sound_library
set
sou_type = #{new_type}
where
cust_number = #{Sound.cust_number}
and sou_type = #{Sound.sou_type}
</update>

<delete id="deletelib" parameterType="Sound">
delete from sound_library
where
cust_number = #{cust_number}
and sou_type = #{sou_type}
<if test="sou_number!=0">
and sou_number = #{sou_number}
</if>
</delete>
</mapper>