<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.teamBOB4.dao.PostMapper">

	<select id="getAll" parameterType="int" resultType="Post">
	select * 
	from Post
	Where cust_number= #{cust_number}
	
	
	</select>
	<select id="listAll" resultType="map">
	select * from post 
	where 
		<choose>
			<when test="searchItem == 'title'">mus_title</when>
			<when test="searchItem == 'content'">post_content</when>
			<when test="searchItem == 'writer'">post_nickname</when>
		</choose>
	like '%'||#{searchWord}||'%'
	order by post_number desc
	</select>
	

	<insert id="post_save_method" parameterType="Post">
		insert into Post
		(
		post_number
		,mus_number
		,cust_number
		,mus_title
		,mus_time
		,post_content
		,post_nickname
		,post_url
		,post_date
		,post_reply
		,post_like
		,post_play
		)
		values
		(
		SEQ_Post_post_number.nextval
		,#{mus_number}
		,#{cust_number}
		,#{mus_title}
		,#{mus_time}
		,#{post_content}
		,#{post_nickname}
		,'asdas'
		,sysdate
		,0
		,0
		,0
		)
	
	</insert>
	<select id="getOneByMus_number" parameterType="int" resultType="int">
	 (select NVL(max(post_number),0)  from Post
	where mus_number =#{mus_number}) 
	
	
	</select>
	
	<select id="getPostAll"  resultType="Post">
	select * from post
	order by post_number desc
	
	</select>
	<select id="getPostByPostNum" parameterType="int" resultType="Post">
	select *
	from Post
	where post_number = #{post_number}
	</select>
	
<!-- 	<select id="getPostByPostNum" parameterType="Like_click">
	select *
	from Like_click
	where post_number = #{post_number}
	and 
	</select> -->
	<select id="checkLike_click" parameterType="Like_click" resultType="int">
	 (select NVL(max(likt_type),0)  from Like_click
	where post_number =#{post_number}
	 and  cust_number =#{cust_number}
	 and target_number=#{target_number}) 

	</select>
	
		<insert id="newliked" parameterType="Like_click">
		insert into Like_click
		(
		like_number
		,post_number
		,cust_number
		,target_number
		,likt_type
		)
		values
		(
		SEQ_like_click_like_number.nextval
		,#{post_number}
		,#{cust_number}
		,#{target_number}
		,'1'
		)

	</insert>
	<delete id="unliked" parameterType="Like_click">
		delete from Like_click
	where post_number =#{post_number}
	 and  cust_number =#{cust_number}
	 and target_number=#{target_number}

	</delete>
</mapper>